<div class="main-container">
  <div class="alert alert-app-level"></div>
  <header class="header header-6">
    <div class="branding">
      <a href="javascript://">
        <cds-icon shape="blocks-group"></cds-icon>
        <span class="title">Clarity Blocks</span>
      </a>
    </div>
  </header>
  <!-- <nav class="subnav">
   
  </nav> -->
  
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
      <a clrVerticalNavLink routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}" >
        <cds-icon shape="dashboard" clrVerticalNavIcon></cds-icon>
        Overview
      </a>
      <!-- <div class="nav-divider"></div> -->
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="tools" clrVerticalNavIcon></cds-icon>
        Setup
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink href="#module" routerLink="/setup/module" routerLinkActive="active">Module</a>
          <a clrVerticalNavLink href="#auth" routerLink="/setup/auth" routerLinkActive="active">Authorization</a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <cds-icon shape="cog" clrVerticalNavIcon></cds-icon>
        Settings
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">Reset Password</a>
          <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">Raichu</a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <!-- <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <cds-icon shape="certificate" clrVerticalNavIcon></cds-icon>
        Credit
      </a> -->
    </clr-vertical-nav>
  </div>
</div>
